
@{

}
<h1>Producten List</h1>
<h2>View back product</h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Prijs</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in ViewBag.Product)
        {
            <tr>
                <td>@product.Naam</td>
                <td>@product.Prijs</td>
            </tr>
        }
    </tbody>
   <tfoot>
       <tr>
            <td>Totaal</td>
            <td><b>@ViewBag.Totaal</b></td>
       </tr>
   </tfoot>
</>
@* <ul>
    @foreach (var product in ViewBag.Product)
    {
        <li>@product.Naam - @product.Prijs</li>
    }
    <p>Totaal @ViewBag.Totaal</p>
</ul>

<ul>
    @foreach (var product in ViewData["ProductenLijs"] as List<Product>)
    {
        <li>@product.Naam - @product.Prijs</li>
    }
    <p>Totaal @ViewData["TotaalViewData"]</p>
</ul>
 *@